__pycache__/
.DS_Store/
loss/__pycache__/
networks/__pycache__/
augments/__pycache__/
.conda/
.cache/
.bash_history/
.nv/
.python_history/
.empty/
networks/.DS_Store
loss/.DS_Store
augments/.DS_Store
